cachetools
certifi
chardet
google-analytics-data==0.16.2
google-api-core==2.11.0
google-api-python-client==2.65.0
google-auth==2.18.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.2
googleapis-common-protos==1.59.0
grpcio==1.54.2
grpcio-status==1.54.2
httplib2
idna
oauth2client
packaging
protobuf
pyparsing
pytz
requests
rsa
six
uritemplate
urllib3
python-dateutil
beautifulsoup4
bs4
pyOpenSSL
